{% block DistantType_widget %}

    <tr class="media-distant">
        <!-- Display image -->
        <td>
            <!-- If edit -->
            {% if form.vars.value.src is not null %}
                <img src="{{ form.vars.value.imgSrc }}" alt="{{ form.vars.value.alt }}">
                <!-- If create -->
            {% else %}
                <img src="/img/picto/delete.png" alt="">
            {% endif %}
        </td>

        <!-- Distant name -->
        <td>
            {% if form_errors(form.name) %}
                <span class="error-form">{{ form_errors(form.name) }}</span>
            {% endif %}
            {{ form_widget(form.name) }}
        </td>

        <!-- Distant Description -->
        <td>
            {% if form_errors(form.alt) %}
                <span class="error-form">{{ form_errors(form.alt) }}</span>
            {% endif %}
            {{ form_widget(form.alt) }}
        </td>

        <!-- Distant Source -->
        <td>
            {% if form_errors(form.src) %}
                <span class="error-form">{{ form_errors(form.src) }}</span>
            {% endif %}
            {{ form_widget(form.src) }}
        </td>

        {{ form_widget(form.position) }}
    </tr>

{% endblock %}