{% block LocalType_widget %}

    <!-- Local collection -->
    <tr class="media-local">
        <!-- Display image -->
        <td>
            <!-- If edit -->
            {% if form.vars.value.src is not null %}
                <img src="{{ form.vars.value.src }}" alt="{{ form.vars.value.alt }}">
            <!-- If create -->
            {% else %}
                <img src="/img/picto/delete.png" alt="">
            {% endif %}
        </td>

        <!-- Media name -->
        <td class="local-name-inputs">
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </td>

        <!-- Media Description -->
        <td>{{ form_errors(form.alt) }}{{ form_widget(form.alt) }}</td>

        <!-- Media File -->
        <td class="local-file-input">{{ form_errors(form.file) }}{{ form_widget(form.file) }}</td>

        <td>{{ form_widget(form.position) }}</td>
    </tr>

{% endblock %}
