{% block ProjectType_widget %}
    <article id="project">
        <div class="project-row project-title">
            <span class="slash slash-right"></span>
            <h1 id="project-name">{{ form_widget(form.name) }}</h1>
        </div>
        <div class="project-row">
            <div class="project-column">
                <h4>{{ form_label(form.category) }}</h4>
                {{ form_widget(form.category) }}
                <h4>Compétences mobilisées</h4>
                {{ form_widget(form.skillListItems) }}
                <h4>{{ form_label(form.summary) }}</h4>
                {{ form_widget(form.summary) }}
            </div>
            <div id="project-details" class="project-column">
                <div id="project-details-title">
                    <h2>Détails
                        <img src="/img/arrow-down.png" alt="Arrow down pictogram">
                    </h2>
                </div>
                <ul id="project-infos">
                    <li>
                        <img src="/img/picto/info.png" alt="Interrogation point pictogram">
                        {{ form_widget(form.highConcept) }}
                    </li>
                    <li>
                        <img src="/img/picto/calendar.png" alt="Calendar pictogram">
                        {{ form_label(form.initDate) }} {{ form_widget(form.initDate) }}
                    </li>
                    <li>
                        <img src="/img/picto/date-interval.png" alt="Date interval pictogram">
                        {{ form_label(form.endDate) }} {{ form_widget(form.endDate) }}
                    </li>
                    <li>
                        <img src="/img/picto/user.png" alt="User pictogram">
                        {{ form_label(form.contributorsNbre) }} {{ form_widget(form.contributorsNbre) }}
                    </li>
                </ul>
            </div>
        </div>

        <section id="project-content" class="project-row">
            {{ form_widget(form.content) }}
        </section>

        <section class="project-row">
            {{ form_widget(form.submit) }}
        </section>
    </article>

    <section id="locals-create" class="media-project-create">
        <h2>{{ form_label(form.localMedias) }}</h2>
        {{ form_widget(form.localMedias) }}
    </section>

    <section id="locals-create" class="media-project-create">
        <h2>{{ form_label(form.distantMedias) }}</h2>
        {{ form_widget(form.distantMedias) }}
    </section>

{% endblock %}