{% block ProjectType_widget %}
    <article id="project">

        <!-- Project Title -->
        <div class="project-row project-title">
            <span class="slash slash-right"></span>
            <h1 id="project-name">{{ form_widget(form.name) }}</h1>
        </div>

        <div class="project-row">
            <span class="error-form">{{ form_errors(form) }}</span>
        </div>

        <!-- Project infos & content -->
        <div class="project-row">

            <!-- Top left -->
            <div class="project-column">
                <!-- Catégorie -->
                <h4>
                    {% if form_errors(form.category) %}
                        <!-- Summary errors -->
                        <span class="error-form">{{ form_errors(form.category) }}</span>
                    {% else %}
                        <!-- Summary Label -->
                        {{ form_label(form.category) }}
                    {% endif %}
                </h4>
                {{ form_widget(form.category) }}

                <!-- Skills -->
                <h4>{{ form_label(form.skillListItems) }}</h4>
                <!-- Skill Widgets -->
                {{ form_widget(form.skillListItems) }}

                <!-- Project summary -->
                <h4>
                    {% if form_errors(form.summary) %}
                        <!-- Summary errors -->
                        <span class="error-form">{{ form_errors(form.summary) }}</span>
                    {% else %}
                        <!-- Summary Label -->
                        {{ form_label(form.summary) }}
                    {% endif %}
                </h4>
                <!-- Summary Widget -->
                {{ form_widget(form.summary) }}
            </div>

            <!-- Top right -->
            <div id="project-details" class="project-column">
                <!-- Infos projet -->
                <ul id="project-infos">
                    <li>
                        <!-- High Concept -->
                        <img src="/img/picto/info.png" alt="Interrogation point pictogram">
                        {{ form_widget(form.highConcept) }}
                    </li>
                    <li>
                        <!-- Init Date -->
                        <img src="/img/picto/calendar.png" alt="Calendar pictogram">
                        {{ form_label(form.initDate) }} {{ form_widget(form.initDate) }}
                    </li>
                    <li>
                        <!-- End Date -->
                        <img src="/img/picto/date-interval.png" alt="Date interval pictogram">
                        {{ form_label(form.endDate) }} {{ form_widget(form.endDate) }}
                    </li>
                    <li>
                        <!-- Contributors -->
                        <img src="/img/picto/user.png" alt="User pictogram">
                        {{ form_label(form.contributorsNbre) }} {{ form_widget(form.contributorsNbre) }}
                    </li>
                    {% if form_errors(form.contributorsNbre) %}
                        <!-- HighConcept errors -->
                        <li class="error-form">{{ form_errors(form.contributorsNbre) }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <!-- Project Content -->
        <section id="project-content" class="project-row">
            {% if form_errors(form.content) %}
                <!-- Content errors -->
                <h4 class="error-form">{{ form_errors(form.content) }}</h4>
            {% endif %}

            {{ form_widget(form.content) }}
        </section>

        <!-- Submit -->
        <section class="project-row">
            {{ form_widget(form.submit) }}
        </section>
    </article>

    <!-- Local medias -->
    <section id="locals-create" class="media-project-create">
        <h2>
            {% if form_errors(form.localMedias) %}
                <!-- Summary errors -->
                <span class="error-form">{{ form_errors(form.localMedias) }}</span>
            {% else %}
                <!-- Summary Label -->
                {{ form_label(form.localMedias) }}
            {% endif %}
        </h2>
            {{ form_widget(form.localMedias) }}
    </section>

    <!-- Distant medias -->
    <section id="locals-create" class="media-project-create">
        <h2>{{ form_label(form.distantMedias) }}</h2>
            {{ form_widget(form.distantMedias) }}
    </section>

{% endblock %}