{% extends 'project/list.html.twig' %}

{% block category_details %}

<section id="category-detail">
    <div class="category-detail-column">
        <h2>
            {{ projects.0.category.name }},
            <small>{{ projects.count }} projets</small>
        </h2>
        <p>{{ projects.0.category.summary }}</p>
    </div>
    <div class="category-detail-column">
        <h2>Dernier Projet</h2>
        <ul>
            <li>
                <img src="/img/picto/note.png" alt="Bloc note pictogram">
                {{ projects.0.name }}
            </li>
            <li>
                <img src="/img/picto/calendar.png" alt="Calendar pictogram">
                {{ projects.0.initDate|date }}
            </li>
            <li>
                <img src="/img/picto/user.png" alt="User pictogram">
                {{ projects.0.numberOfContributors }}
            </li>
        </ul>
    </div>
</section>

{% endblock %}