{% extends 'project/list.html.twig' %}

{% block category_details %}

<section id="category-detail">
    <div class="category-detail-column">
        <div class="category-title">
            <span class="slash slash-right"></span>
            <h2>
                {{ projects.0.category.name }},
                <small>{{ projects.count }} projets</small>
            </h2>
        </div>
        <p>{{ projects.0.category.summary }}</p>
    </div>
    <div id="right-cat-col" class="category-detail-column">
        <div id="right-category-title" class="category-title">
            <h2>Dernier Projet
                <img src="/img/arrow-down.png" alt="Arrow down pictogram">
            </h2>
            <span class="slash slash-left"></span>
        </div>
        <ul>
            <li>
                <img src="/img/picto/note.png" alt="Bloc note pictogram">
                <a href="{{ projects.0.showUrl }}">
                    {{ projects.0.name }}
                </a>
            </li>
            <!-- High Concept -->
            <li>
                <img src="/img/picto/info.png" alt="Interrogation point pictogram">
                {{ projects.0.highConcept.type }} -
                {{ projects.0.highConcept.gender }} -
                {{ projects.0.highConcept.target }}
            </li>
            <li>
                <img src="/img/picto/calendar.png" alt="Calendar pictogram">
                Terminé le {{ projects.0.endDate|date }}
            </li>
            <li>
                <img src="/img/picto/user.png" alt="User pictogram">
                {{ projects.0.contributorsNbre }}
            </li>
        </ul>
    </div>
</section>

    <hr>

{% endblock %}

{% block catlistscripts %}

    <!-- Toggle cat details -->
    <script type="application/javascript" src="/js/toggle-details.js"></script>
    <script type="application/javascript" src="/js/list-projects-toggle-cat.js"></script>

{% endblock %}