{% extends 'base.html.twig' %}

{% block body %}
    {% for project in projects %}
        <h2>{{ project.name }}</h2>
        <span>Débuté le {{ project.initDate|date() }}</span><br/>
        <span>A duré {{ project.duration }}</span><br/>
        <span>{{ project.numberOfContributors }} collaborateurs</span><br/>
        <p>{{ project.summary|raw }}</p>
        <a href="{{ project.showUrl }}" title="Détails sur le projet {{ project.name }}">Voir</a>
    {% endfor %}
{% endblock %}