{% extends 'base.html.twig' %}

{% block body %}
    <!-- If project list by category -->
    {% block category_details %}{% endblock %}

    <hr>

    {% for project in projects %}
        <!-- Project item -->
        <section class="project-item-parent"
                 style="
                         background-image: url('{{ project.localMedias.0.src }}');
                         background-size: cover;
                         background-position: center;
                         ">
            <!-- Project left column -->
            <div class="list-column list-left-column">
                <img src="/img/slash.png" alt="Decoration element">
                <!-- Title & Category -->
                <h2>
                    <a href="{{ project.showUrl }}"
                       title="Détails sur le projet {{ project.name }}">
                        {{ project.name }}</a>
                </h2>
            </div>

            <!-- Project left-column -->
            <div class="list-column list-right-column">
                <!-- Summary -->
                <p>{{ project.summary|raw }}</p>

                <!-- Project infos -->
                <ul>
                    <!-- Start date of Project -->
                    <li>
                        <img src="/img/picto/calendar.png" alt="Calendar pictogram">
                        Débuté le {{ project.initDate|date() }}
                    </li>

                    <!-- Duration of project -->
                    <li>
                        <img src="/img/picto/date-interval.png" alt="Date interval pictogram">
                        A duré {{ project.duration }}
                    </li>

                    <!-- Collaborators -->
                    <li>
                        <img src="/img/picto/user.png" alt="User pictogram">
                        {{ project.numberOfContributors }}
                    </li>
                </ul>

                <!-- Link to project show page -->
                <a href="{{ project.showUrl }}"
                   title="Détails sur le projet {{ project.name }}">
                    Lire {{ project.name }}</a>
            </div>
        </section>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Toggle config -->
    <script type="text/javascript" src="/js/list-projects-toggle.js"></script>

    <!-- Slash config -->
    <script type="text/javascript" src="/js/list-projects-slash-h2.js"></script>
{% endblock %}