{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Slick stylesheets -->
    <link rel="stylesheet" href="/vendor/slick/slick.css">
    <link rel="stylesheet" href="/vendor/slick/slick-theme.css">

    <!-- Fancybox stylesheet -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css">
{% endblock %}

{% block javascripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <!-- Slick js -->
    <script type="text/javascript" src="/vendor/slick/slick.min.js"></script>

    <!-- Slick config -->
    <script type="text/javascript">
            $('.slick-container').slick({
                arrow: true,
                dots: true,
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3,
                centerMode: true
            });
    </script>

    <!-- Fancybox JS -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js">
    </script>

    <!-- Fancybox config -->
    <script type="text/javascript">
        // Options for the first group
        $('[data-fancybox="images"]').fancybox({
            protect: true,
            loop: true,
            buttons : [
                'zoom',
                'thumbs',
                'share',
                'close',
            ]
        });
    </script>
{% endblock %}

{% block body %}
    <article id="project">
        <div class="project-row">
            <h1 id="project-name">{{ project.name }}</h1>
        </div>
        <div class="project-row">
            <div class="project-column">
                <p>{{ project.summary|raw }}</p>
            </div>
            <div class="project-column">
                <ul id="project-infos">
                    <li>
                        <img src="/img/picto/calendar.png" alt="Calendar pictogram">
                        Période: {{ project.initDate|date() }} au {{ project.endDate|date() }}
                    </li>
                    <li>
                        <img src="/img/picto/date-interval.png" alt="Date interval pictogram">
                        Durée: {{ project.duration }}
                    </li>
                    <li>
                        <img src="/img/picto/user.png" alt="User pictogram">
                        {{ project.numberOfContributors }} collaborateurs
                    </li>
                </ul>
            </div>
        </div>

        <section id="project-gallery" class="project-row">
            <div class="slick-container">
                {% for local in project.localMedias %}
                    <a href="{{ local.src }}" title="{{ local.alt }}" data-fancybox="gallery">
                        <img src="{{ local.src }}" alt="{{ local.alt }}">
                    </a>
                {% endfor %}
                {% for distant in project.distantMedias %}
                    <a href="{{ distant.src }}" title="{{ distant.description }}" data-fancybox="gallery">
                        <iframe id="ytplayer"
                                type="text/html"
                                src="{{ distant.src }}"
                                frameborder="0">
                        </iframe>
                    </a>
                {% endfor %}
            </div>
        </section>

        <section id="project-content" class="project-row">
            {% for part in project.explanation.content %}
                {% if part.type is same as('title') %}
                    <h{{ part.attr.level }}>
                        {{ part.attr.content }}
                    </h{{ part.attr.level }}>
                {% elseif part.type is same as('paragraph') %}
                    <p>{{ part.attr.content }}</p>
                {% elseif part.type is same as('local') %}
                    <img src="{{ part.attr.src }}" alt="{{ part.attr.src }}" class="{{ part.attr.display }}" style="width: 350px">
                {% endif %}
            {% endfor %}
        </section>
    </article>
{% endblock %}
