{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Slick stylesheets -->
    <link rel="stylesheet" href="/vendor/slick/slick.css">
    <link rel="stylesheet" href="/vendor/slick/slick-theme.css">

    <!-- Fancybox stylesheet -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css">
{% endblock %}

{% block body %}
    <article id="project">
        <div class="project-row project-title">
            <span class="slash slash-right"></span>
            <h1 id="project-name">{{ project.name }}</h1>
        </div>
        <div class="project-row">
            <div class="project-column">
                <p>{{ project.summary|raw }}</p>
            </div>
            <div id="project-details" class="project-column">
                <div id="project-details-title">
                    <h2>Détails
                        <img src="/img/arrow-down.png" alt="Arrow down pictogram">
                    </h2>
                </div>
                <ul id="project-infos">
                    <li>
                        <img src="/img/picto/calendar.png" alt="Calendar pictogram">
                        Terminé le {{ project.endDate|date() }}
                    </li>
                    <li>
                        <img src="/img/picto/date-interval.png" alt="Date interval pictogram">
                        Durée: {{ project.duration }}
                    </li>
                    <li>
                        <img src="/img/picto/user.png" alt="User pictogram">
                        {{ project.numberOfContributors }}
                    </li>
                </ul>
            </div>
        </div>

        <section id="project-gallery" class="project-row">
            <div class="slick-container">
                {% for local in project.localMedias %}
                    <a href="{{ local.src }}" title="{{ local.alt }}" data-fancybox="gallery">
                        <img src="{{ local.src }}" alt="{{ local.alt }}">
                    </a>
                {% endfor %}
                {% for distant in project.distantMedias %}
                    <a class="various fancybox" data-fancybox-type="iframe" href="{{ distant.src }}" title="{{ distant.description }}" data-fancybox="gallery">
                        <img src="{{ distant.imgSrc }}" alt="{{ distant.description }}">
                    </a>
                {% endfor %}
            </div>
        </section>

        <section id="project-content" class="project-row">
            {% for part in project.explanation.content %}
                {% if part.type is same as('title') %}
                    <h{{ part.attr.level }}>
                        {{ part.attr.content }}
                    </h{{ part.attr.level }}>
                {% elseif part.type is same as('paragraph') %}
                    <p>{{ part.attr.content }}</p>
                {% elseif part.type is same as('local') %}
                    <a href="{{ part.attr.src }}" title="{{ part.attr.alt }}" data-fancybox="content-medias">
                        <img src="{{ part.attr.src }}" alt="{{ part.attr.src }}" class="{{ part.attr.display }}">
                    </a>
                {% endif %}
            {% endfor %}
        </section>
    </article>
{% endblock %}

{% block javascripts %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <!-- Slick js -->
    <script type="text/javascript" src="/vendor/slick/slick.min.js"></script>

    <!-- Fancybox JS -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js">
    </script>

    <!-- Config -->
    <script type="text/javascript" src="/js/show-project-gallery.js"></script>

    <!-- Slash config -->
    <script type="text/javascript" src="/js/slash-ajust.js"></script>
    <script type="text/javascript" src="/js/show-slash-config.js"></script>

    <!-- Toggle cat details -->
    <script type="application/javascript" src="/js/toggle-details.js"></script>
    <script type="application/javascript" src="/js/show-project-toggle-cat.js"></script>
{% endblock %}
